@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');
*,*::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
html{
    font-size: 16px;
}
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
.btn {
    height: 2rem;
    /* background: #ccc; */
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 5rem;
    padding: 5px 10px;
    cursor: pointer;
    text-align: center;
  }
  

body{
    background-color: rgb(24, 22, 22);
    font-family: 'Mate SC', serif;
    padding : 0 ;
    margin : 0;

    
}
nav{
    background-color:orangered;
    color: whitesmoke;
     
    min-height: 4.5rem;
    border: 3px solid gold;
    text-decoration: none;
    padding: 1rem 0 ;
}
nav a{
    text-transform: uppercase;   
}

a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 1rem;
}
nav li{
    float:left ; 
    display: inline;
    padding: 0 1.5rem 0rem 1.5rem;/*top right bottom left*/
    font-weight:900;
}
li{
    list-style: none;
    font-size: 1rem;
    color: whitesmoke;

}

nav .branding{
    float: left;
   /*margin-bottom: 1.5rem*/;
}
nav ul{
    float: right;
    margin-top: 0.8rem;
}

nav .branding a {
    margin: 0 ;
    font-size: 1.5rem;
    font-weight: 900;
    margin-top: 0.8rem;
}
nav .branding a i {
    margin-right: 0.5rem;
    color: white ;
}

nav  ul li a.active{
    background-color: rgb(24, 22, 22);
    font-weight: 900;
}
nav ul li a:hover{
    background-color:  rgb(24,22,22);
    font-weight: 1000;
}

/*header styling start*/
 header{
     margin : 0;
     min-height: 38rem;
     background: url(../Images/n2.jpg);
     background-size:cover;
     text-align: center;
     color: whitesmoke
 }
 header h1{
     margin-top: 6rem;
     font-size: 3rem;
     margin-bottom: 1rem;
 }
 header p{
     font-size: 1.3rem;
     line-height: 1.5;
     text-align: justify;
 }
/*header styling end*/

/*News-letter styling start*/
.news-letter{
    padding: 1rem;
    background-color: rgb(248, 74, 6);
    color: whitesmoke ;
    border: yellow 4px dotted;
}

.news-letter h2{
    float: left;
    margin-top: 0.5rem;
    font-size: 1.5rem;
}
.news-letter form{
    float: right;
    margin-top: 0.3rem ;
}
.news-letter input[type = "email"]{
    padding: 1rem;
    height: 2rem;
    width: 16rem;
    border-radius: 3px;
    border: 0;
}
.news-letter input[type = "email"]:focus{
    outline: none;
}
.news-letter .btn{
    
    
    background-color:silver;
    
    cursor: pointer;
    text-align: center;
    
        
    
}

/*News-letter styling end*/

/*cars styling start*/
.cards .container{
    display: flex;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.cards {
    padding:  2rem 0rem ;
    margin: 2rem 0rem;
}

.cards .container .card {
    width: 28%;
    margin: 0 1rem;
    padding: 0 0.5rem;
}

.cards .container .card i{
    color: tomato;
    padding : 1rem ;
    font-size: 2rem;
    
}
 .cards .container .card h3{
     font-size: 1.5rem;
     color: whitesmoke;
 }

 .cards .container .card p{
    font-size: 1rem;
    color: yellow; 
    margin-top: 1rem ;
 }
/*cards styling end*/

/* footer styling start*/

footer{
    
    margin-top: 0.75rem 0;
    background-color: orangered;
    color: cornsilk;
    text-align: center;
    max-height: 1.5rem;
}

/*footer styling ends*/

/*About styling start*/

/*main h1{
    text-align: center;

}*/
main .container {
    display: flex;
    color: whitesmoke;
}
main .container .col{
    margin: 2rem 1rem ;
}

main .container aside{
    margin: 2rem 1rem ;
}
main .container .col h1{
  color: orangered;
  font-size: 2rem;
  margin-bottom: 2.5rem; 
}
main .container .col .p1 {
    font-size: 1.5rem;
}
main .container .col .p2{
    background-color: orangered;
    color: whitesmoke;
    font-size: 1.5rem;
    margin: 2.5rem 0 ;
    min-height: 10rem ;
}

main aside div {
    min-height: 20rem;
    border: 3px solid yellow; 
      
}
main aside i{
    margin-right: 0.5rem;
}
main aside h2{
    font-size: 2rem;
    color: orangered;
    padding-left: 0.25rem;
    margin:1rem 1rem;
    
}

main aside p {
 font-size: 1.25rem;
 margin: 0.5rem 1rem;
    
}

/*About styling end*/

/*Services styling start*/
main .container  .a1{
    margin: 2rem 0rem ;
    border: 3px solid yellow;
    font-size: 1.5rem;
    
}

main .container .a1 h1{
    color: orangered;
    font-size: 3rem;
    padding: 1rem 1rem;
    

  }
  main .container .a1 p {
      font-size: 1.75rem;
      margin: 1rem 1rem;

  }
  main .col2 {
      color: whitesmoke;
      border: 3px solid yellow ;
      margin-bottom: 2.5rem;
      
      
  }

  main .col2 h1{
      color: orangered;
      font-size: 3rem;
    padding: 1rem 1rem;
  }

  main .col2 p{
    font-size: 1.75rem;
      margin: 1rem 1rem;
      
  }
 main aside div {
     margin-left: 1rem ;
 } 
 main aside {
    min-width: 18rem;
     
 }
 main aside h3 {
     margin: 0 1rem;
 }
 main aside div .btn {
     margin: 1rem 1rem;
 }
 main .title {
    padding: 2rem 11rem;
 }

/*Services styling End*/
/*Responsive Css start*/
@media( max-width : 768px){
   nav .branding, nav ul , nav ul li {
       float: none;
       text-align: center;
       width: 100%;
   } 

   header h1 {
     margin-top: 3rem;
     font-size: 2rem;
}
 header p {
     font-size: 1.25rem;
 }

 .news-letter h2,.news-letter form input , .news-letter form button{
     display: block;
     width: 100%;
     float: none;
     text-align: center;
     margin-bottom: 1rem;
 }
 .cards .container .card{
     width: 100%;
 }
 footer p {
   width: 100%;  
 }
 main .container{
  display: block;
}
main  .col2 {
    color: whitesmoke;
    border: 3px solid yellow ;
    
    

    
}
main .title {
   padding-left: 6rem; 
}

main aside div{
    margin-left:0 ;
    max-width: 16rem;
}

}
/*Responsive css end*/